@model SporSalonu.Models.dersmodel

@{
    ViewData["Title"] = "Dersduzenle";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<body>
    <div class="fh5co-parallax" style=" background-image: url(/tema/images/home-image-3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                    <div class="fh5co-intro fh5co-table-cell animate-box">
                        <h1 class="text-center">DERS DÜZENLE</h1>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-left: 15px; margin-top:15px;">
        <a href="/Lesson/Index" class="btn btn-default" style="background-color:#f79a06">DERS LİSTESİNE DÖN</a>
    </div>

    <div id="fh5co-programs-section">
        <div class="container center-block">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="heading-section  animate-box">
                        <form asp-action="Dersduzenle">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ders_id" class="control-label">DERS ID</label>
                                <input asp-for="ders_id" readonly="true" class="form-control" />
                                <span asp-validation-for="ders_id" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ders_kodu" class="control-label">DERS KODU</label>
                                <input asp-for="ders_kodu" class="form-control" />
                                <span asp-validation-for="ders_kodu" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ders_adi" class="control-label">DERS ADI</label>
                                <input asp-for="ders_adi" class="form-control" />
                                <span asp-validation-for="ders_adi" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="DEĞİŞİKLİĞİ KAYDET" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>
        @ViewData["sonucmesaji"]
    </div>


</body>

