@{
    ViewData["Title"] = "Home Page";

}

<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(/tema/images/home-image.jpg);">
        <div class="desc animate-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                        <h2 class="text-center">MACGYM </h2>
                        <p class="text-center"><span>Spor Salonu Takip Sistemi</span></p>
                        <p>
                            sayesinde artık salonunuzu yönetmek daha kolay.
                            Tek tuşla üye ekleme,üye silme,güncelleme işlemleri yapabilir aynı zamanda tüm
                            üyelerinizi listeleyebilirisiniz.Üye ödemelerini kontrol edebilirisiniz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









